$colorBlack: #0b0b0e;
$colorBgShadow: #00000085;
$colorDark: #252525;
$colorWhite: #FFFFFF;
$colorLightGray: #DDDDDD;
$colorDarkGray: #3D3D3D;
$colorYellow: #FFE05C;
$colorLightPurple: #5f318b;
$colorPurple: #352853;
$colorDarckPurple: #2b2359;
$colorBlue: #324c9c;
$colorDarckBlue: #2d2a70;
