.container00 {
    height: 100vh;
    padding: 0;
}
.navConfig {
    background-color: $colorBlack;
    box-shadow: 0 3px 8px #2e2e2e2a, 0 2px 2px #2e2e2e2a;
    
    .imgBrand {
        width: 115px;
        margin-right: 30px;
    }

    .navItem{
        color: #ffffff;
        position: relative;
    }

    .navEndItem{
        color: #ffffff;
        position: relative;
    }

    .navEndItem::after {
        content: " ";
        width: 0%;
        height: 2px;
        background-color: $colorYellow;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.2s ease-in-out;
    }

    .navEndItemMob {
        color: #ffffff;
    }

    .navEndItem:hover::after{
        width: 100%;
    }

    .dropdown-menu {
        margin-top: 16px;
        border-radius: 3px;
        padding: 20px 40px;
    }

    .navPlus {
        width: 300px;
        color: white;

        ul {
            margin: 0;
            width: 300px; 
            gap: 8px;

            li {
                
            }
        }
    }
}

.linkFundMobile {
    display: none;
}

.navbar-toggler {
    border: none;
}
@media (max-width: 990px) {
    .itemsNavCV {
        display: flex;
        flex-direction: column;
    }

    .navItem1 {
        margin-top: 3rem;
        padding-top: 2.5rem;
    }

    .linkFundMobile {
        display: contents;
    }

    #navEdge {
        border-top: 0.5px solid $colorYellow;
    }

    .linkFundPc {
        display: none;
    }

}
