  
  .timeLine:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:-20px;
    background:#fff;
    z-index:1;
  }
  .timeLine{
    position:relative;
    margin: 40px auto;
    width:145vh;
    padding:50px 0;
    color: $colorWhite;
  }
  
  
  .timeLine ul{
    margin:0;
    padding:0 ;
  }
  
  .timeLine ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 40px 70px;
  }
  
  .timeLine ul li .rightContent h2{
    color: $colorYellow;
    padding:0px 2px 18px 0px;
  }
  .timeLine ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  
  .timeLine ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  
  .leftContent{
    padding-bottom:20px;
  }
  
  .timeLine ul li:nth-child(odd):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background:$colorYellow;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(239, 227, 58, 0.2);
    right:-6px;
    top:24px;
    z-index:1;
  }
  
  .timeLine ul li:nth-child(even):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
   background:$colorYellow;
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(239, 227, 58, 0.2);
    left:-6px;
    top:24px;
  }
  
  .timeLine ul li:nth-child(odd) .leftContent{
    position:absolute;
    top:12px;
    right:-160px;
    margin:0;
    padding:8px 16px;
  
    color:#fff;
    box-shadow:0 0 0 3px rgba(239, 227, 58, 0.2);
    border-radius:18px;
    
  }
  
  .timeLine ul li:nth-child(even) .leftContent{
    position:absolute;
    top:12px;
    left:-160px;
    margin:0;
    padding:8px 16px;
    
    color:#fff;
    box-shadow:0 0 0 3px rgba(239, 227, 58, 0.2);
    border-radius:18px;
    
  }

  .imgTimeLine {
    width: 440px;
    margin-bottom: 16px;
  }
  
  
  @media (max-width: 1000px){
    
    .timeLine{
      width:100%;
    }
  }
  
  @media (max-width: 767px){
    .timeLine{
      width:100%;
    }
    .timeLine:before{
      left:20px;
    }
    .timeLine ul li:nth-child(odd),
    .timeLine ul li:nth-child(even){
      width:100%;
      text-align:left;
     padding-left:50px; 
    }
    
    .timeLine ul li:nth-child(odd):before
      {
      top:-18px;
      left:16px;
    
    }
    .timeLine ul li:nth-child(even):before
    { 
      top:-18px;
      left:16px;
    }
    
      .timeLine ul li:nth-child(odd) .leftContent,
    .timeLine ul li:nth-child(even) .leftContent
    {
      top:-30px;
      left:50px;
      right:inherit;
    }
  
    
  }

  @media (max-width: 480px) {
    .imgTimeLine {
        width: 310px;
      }

  }