body
  section
    .block.block--sm.block--header
      .logo
      h1 Hainer Savimaa
      h5 Web Developer & UX-designer
      hr
      .social-links
        i(class="fa fa-facebook" aria-hidden="true")
        i(class="fa fa-codepen" aria-hidden="true")
        i(class="fa fa-dribbble" aria-hidden="true")
        i(class="fa fa-instagram" aria-hidden="true")
    .block.block--hero-image
  section
    .block.block--sm.block--heading
      h1 Exp</br>eri</br>ence-
    .block.block--content.block--experience
      article
        p.date 2013 - 2016
        h4 Freelancer
        h5 @ Tallinn
        hr
      article
        p.date 2014 - 2016
        h4 Print Designer
        h5 TTÜ Kirjastus
        hr
      article
        p.date 2016 - present
        h4 Front End Developer & Designer
        h5 MediaMenu
        hr
  section.reverse
    .block.block--sm.block--heading
      h1 Skills-
    .block.block--content.block--skills
      article
        h4 Web development
        h5 HTML, CSS, JavaScript, Wordpress
        hr
      article
        h4 Design
        h5 Logos, branding, web design
        hr
  section
    .block.block--sm.block--heading
      h1 Edu</br>cat</br>ion-
    .block.block--content.block--education
      article
        p.date 2006 - 2009
        h4 Information Technology
        h5 Pärnumaa Kutsehariduskeskus
        hr
      article
        p.date 2011 - 2016
        h4 Informatics & Digital Media
        h5 Tallinn University
        hr
  section.reverse
    .block.block--sm.block--heading
      h1 Work-
    .block.block--content.block--work
      article
        p.date 2016
        h4: a(class="work-link" href="#") Travel blog
        h5 Janne&Hainer
        hr
      article
        p.date 2016
        h4: a(class="work-link" href="#") Portfolio
        h5 Hainer Savimaa
        hr